.calcExpression {
  width: 100%;
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 32px;
  text-align: right;
  color: #f2f2f2;
  overflow-wrap: break-word;
  margin-bottom: 20px;
  transition: 0.2 ease;
  font-style: normal;
  font-weight: 500;
  font-weight: normal;
}

.calcExpressionAnswer {
  transform: translateY(-50px);
  font-size: 1.3rem;
}

// @media (max-width: 768px) {
//   .calcExpression {
//     font-size: 1.1rem;
//     margin-bottom: 10px;
//   }
//   .calcExpressionAnswer {
//     font-size: 0.9rem;
//     transform: translateY(-20px);
//   }
// }
