@import "../../../styles/templates";

.symbolWrapper {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  color: #fff;
  transition: 0.2s ease;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: rgba($color: #fff, $alpha: 0.12);
  }

  @extend %flexCenter;
}

@media (max-width: 1180px) {
  .symbolWrapper {
    font-size: 1.7rem;
  }
}

@media (max-width: 768px) {
  .symbolWrapper {
    width: 60px;
    height: 60px;
    font-size: 1.4rem;
  }
}
